## **Big Data Analysis Using Machine Learning**

This is a part of **Task 1** of the internship with **Elite Tech Intern**.

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Netflix Big Data Analysis").getOrCreate()

In [2]:
df = spark.read.csv("db/netflix_titles.csv", header=True, inferSchema=True)
df.show(5)

+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|       director|                cast|      country|        date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|Kirsten Johnson|                NULL|United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|           NULL|Ama Qamata, Khosi...| South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|Julien Leclercq|Sami Bouajila, Tr...|         NULL|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|           NULL|                NULL|         NULL|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|           NULL|Mayur More, Jiten...|        India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|
+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

In [4]:
# Total records
print(f"Total Records: {df.count()}")
# Columns
df.columns

Total Records: 8809

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [5]:
from pyspark.sql.functions import col
df.select([col(c).isNull().alias(c) for c in df.columns]).show()

+-------+-----+-----+--------+-----+-------+----------+------------+------+--------+---------+-----------+
|show_id| type|title|director| cast|country|date_added|release_year|rating|duration|listed_in|description|
+-------+-----+-----+--------+-----+-------+----------+------------+------+--------+---------+-----------+
|  false|false|false|   false| true|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|    true|false|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|    true| true|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|    true|false|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|    true| true|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|    true| true|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|    true|false|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|   false| true|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|    true|false|  false|     false|       false| false|   false|    false|      false|
|  false|false|false|   false|false|   true|     false|       false| false|   false|    false|      false|
|  false|false|false|    true|false|   true|     false|       false| false|   false|    false|      false|
+-------+-----+-----+--------+-----+-------+----------+------------+------+--------+---------+-----------+
only showing top 20 rows

In [6]:
df_clean = df.dropna()

In [7]:
print(f"Cleaned Records: {df_clean.count()}")

Cleaned Records: 5332

## **Analysis & Insights**

**a) Number of Movies vs TV Shows**

In [8]:
df.groupBy("type").count().show()

+-------------+-----+
|         type|count|
+-------------+-----+
|         NULL|    1|
|      TV Show| 2676|
|        Movie| 6131|
|William Wyler|    1|
+-------------+-----+

**b) Top 10 Countries with Most Content**

In [9]:
df.groupBy("country").count().orderBy("count", ascending=False).show(10)

+--------------+-----+
|       country|count|
+--------------+-----+
| United States| 2805|
|         India|  972|
|          NULL|  832|
|United Kingdom|  419|
|         Japan|  245|
|   South Korea|  199|
|        Canada|  181|
|         Spain|  145|
|        France|  123|
|        Mexico|  110|
+--------------+-----+
only showing top 10 rows

**c) Most Common Genres**

In [10]:
df.groupBy("listed_in").count().orderBy("count", ascending=False).show(10)

+--------------------+-----+
|           listed_in|count|
+--------------------+-----+
|Dramas, Internati...|  361|
|       Documentaries|  358|
|     Stand-Up Comedy|  334|
|Comedies, Dramas,...|  273|
|Dramas, Independe...|  252|
|            Kids' TV|  220|
|Children & Family...|  215|
|Children & Family...|  201|
|Documentaries, In...|  186|
|Dramas, Internati...|  180|
+--------------------+-----+
only showing top 10 rows

 **d) Content Added Over the Years**

In [11]:
from pyspark.sql.functions import year, to_date
# Convert date_added to actual date
df = df.withColumn("date_added", to_date("date_added", "MMMM d, yyyy"))

In [12]:
# Extract year
df = df.withColumn("year_added", year("date_added"))

In [13]:
df.groupBy("year_added").count().orderBy("year_added").show()

+----------+-----+
|year_added|count|
+----------+-----+
|      NULL|  120|
|      2008|    2|
|      2009|    2|
|      2010|    1|
|      2011|   13|
|      2012|    3|
|      2013|   10|
|      2014|   23|
|      2015|   72|
|      2016|  418|
|      2017| 1162|
|      2018| 1623|
|      2019| 1997|
|      2020| 1872|
|      2021| 1491|
+----------+-----+